/* ---------------------------------------------------------
   Baggrund (parallax)
   - Brug vw i animationen: 0 → -100vw
   - Sæt background-size til 100vw for at matche bevægelse
--------------------------------------------------------- */
.bg {
  position: absolute;
  inset: 0; /* fyld hele .scene */
  background-image: url("../img/baggrund.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

/* ---------------------------------------------------------
   Kroaler
--------------------------------------------------------- */
/* Grøn koral nederst til venstre */
.coral1 {
  position: absolute;
  bottom: -1vw;
  left: 9vw;
  width: 15vw;
  z-index: 4; /* foran havfruen */
}

/* pink koral til højre for den grønne */
.coral2 {
  position: absolute;
  bottom: -1vw;
  left: -2vw;
  width: 19vw;
  z-index: 3;
}

/* orange koral til venstre */
.coral3 {
  position: absolute;
  bottom: -1vw;
  right: 15vw;
  width: 12vw;
  z-index: 3;
}

/* Big green koral til venstre for den orange koral */
.coral4 {
  position: absolute;
  bottom: -1vw;
  right: -1vw;
  width: 20vw;
  z-index: 6;
}

/* Spilleside-knap (ikon) */
.home-button {
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  width: 10vw;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
  z-index: 10;
}

.home-button img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); /* blød skygge */
}

/* pacman spillet */

#dodger {
  background-image: url(pacman-img/pacman-luk.png/);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  position: absolute;
  width: 40px;
}
#game {
  background: lightblue;
  height: 400px;
  width: 400px;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 30px white(0, 0, 255, 0.2),
    inset 0 0 50px lightblue(0, 0, 255, 0.1);
  border: 2px solid #0066cc;
  animation: borderGlow 4s infinite alternate;
}
/* Game title */
.game-title {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
} /* Controls info */
.controls-info {
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-size: 0.9rem;
  line-height: 1.5;
}
.controls-info p {
  margin: 5px 0;
} /* Footer */
.footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
  color: black;
}

#dodger {
  background-image: url(pacman-img/pacman-luk.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 180px;
  left: 180px;
}
